*{
	margin: 0;
	padding: 0;
}
body{
	background-image: linear-gradient(to top,blue,#f00);
	background-repeat: no-repeat;
             height: 90rem;
}
.title{
	font-family: "microsoft yahei";
}
.row{
	height: 2px;
	width: 100%;
	border-radius: 1px;
	background-color: #FF0000;
}